@import '../utils/variables';

footer {
  background-color: $dark-gray;
  color: $light-gray;
  font-size: 14px;

  section {
    padding: 24px 0 16px;

    img.brand {
      height: 60px;
      width: auto;
      margin: 16px 0;
    }

    .highlight {
      font-size: 20px;
      color: #fff;
    }

    p + p { margin: 4px 0; }

    & + section { border-top: 1px solid #{$light-gray}; }
  }

  .legal-notice {
    background-color: $light-gray;
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 0;
    font-size: 12px;
  }
}
