@import '../utils/variables';

header {
  background-color: $light-gray;
  padding: 16px 0;
  z-index: z('header');

  @media #{$medium-and-up} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  }

  .brand {
    text-align: center;

    @media #{$medium-and-up} { text-align: left; }

    img {
      display: inline-block;
      height: 42px;
      width: auto;

      @media #{$medium-and-up} { height: 60px; }
    }
  }

  ul li {
    line-height: 2em;
  }

}
