@import '../utils/variables';

main {
  color: $dark-gray;

  section {
    &:not(#first-pane) { padding: 32px 0 18px; }

    &:nth-of-type(odd) { background-color: $light-gray; }
  }

  @media #{$medium-and-up} { margin-top: $header-size-md-up; }
}
