@import 'vendors/vendors';

@import 'utils/variables';

body {
  @import 'utils/site_link';
  @import 'utils/inline_list';
  @import 'utils/container';
  @import 'utils/miscelaneous';
  @import 'utils/topic';
  @import 'utils/mini_panel';
  @import 'utils/social_media';
  @import 'utils/modal';

  @import 'page-specific/index';
  @import 'page-specific/agency';
  @import 'page-specific/services';
  @import 'page-specific/contact';

  @import 'sections/header';
  @import 'sections/main';
  @import 'sections/footer';

  font-family: 'Open Sans' !important;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;

  header, footer {
    flex-grow: 0;
    flex-shrink: 1;
  }

  main { flex-grow: 1; }
}

