<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Cendi" %></title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>

    <%= javascript_include_tag "vendors/jquery" %>
    <%= javascript_include_tag "vendors/gumshoe" %>
    <%= javascript_include_tag "vendors/smooth-scroll" %>
  </head>
  <body>
    <%= partial 'partials/header' %>
    <main> <%= yield %> </main>
    <%= partial 'partials/footer' %>

    <%= javascript_include_tag "vendors/slick" %>
    <script type="text/javascript">
      $(document).ready(function() {
        gumshoe.init();
        new SmoothScroll('a[href*="#"]', {
          offset: '96px'
        });
      });
    </script>
  </body>
</html>
