<footer>
  <section>
    <div class="centered">
      <div>
        <img src="<%= image_path('images/simbolo.png') %>" class="brand">
      </div>
      <p>Buzios RJ | CEP 28950 000</p>
      <p class="highlight">+55 (62) 9 8260-1499</p>
      <p><%= partial 'partials/social_media', locals: { inverted: true, placement: 'base' } %></p>
    </div>
  </section>
  <section>
    <div class="container">
      <%= partial 'partials/site_links', locals: { inverted: true } %>
    </div>
  </section>
  <div class="legal-notice">
    Copyright <%= Date.today.year %> &copy; todos os direitos reservados
  </div>
</footer>
