<header data-gumshoe-header  data-scroll-header>
  <div class="container">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-5 brand">
        <a href="/">
          <img src="<%= image_path('images/logo-cendi-transparente.png') %>">
        </a>
      </div>
      <div class="pure-u-1 pure-u-md-3-5 centered">
        <%= partial 'partials/site_links' %>
      </div>
      <div class="pure-u-1 pure-u-md-1-5 align-right">
        <%= partial 'partials/social_media' %>
      </div>
    </div>
  </div>
</header>
