<ul class="inline-list" data-gumshoe>
  <%- data.site_links.each do |link| %>
    <li><a href="<%= link.path %>"
           id='<%= link.id %>'
           class="site-link <%= 'inverted' if (inverted ||= false) %>"
           data-scroll>
      <%= link.label %>
    </a></li>
  <%- end %>
</ul>
