<%- placement ||= 'topo' %>
<%- inverted  ||= false %>

<ul id='social-media-links' class="inline-list">
  <li><a href="https://www.facebook.com/Cendi-Marketing-Digital-1693443850707725/" class="social-media <%= 'inverted' if inverted %>">
    <img src="<%= image_path("/images/logo-face-#{placement}.png") %>">
  </a></li>
  <li><a href="https://www.instagram.com/cendimktdigital/?hl=pt-br" class="social-media <%= 'inverted' if inverted %>">
    <img src="<%= image_path("/images/logo-insta-#{placement}.png") %>">
  </a></li>
</ul>
