<section id="contact-us">
  <div class="container">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="padded left-padded">
          <p class="headline bottom-padded">Vamos conversar?</p>
          <p class="bottom-padded">Adoramos café! Que tal combinarmos uma tarde para tomarmos uma xícara e conversar sobre o seu projeto?</p>
          <p>Você pode nos ligar</p>
          <p class="with-phone bottom-padded">(62) 9 8260-1499</p>
          <p>Ou nos enviar um e-mail</p>
          <p class="with-email">cendimktdigital@gmail.com</p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="padded">
          <p class="bottom-padded">Preencha o formulário abaixo e receba o contato de nossa equipe</p>

          <form id='contact-form' action='http://34.238.234.86/novo_contato_cendi' class="pure-form">
            <div class="pure-g">
              <div class="pure-u-1">
                <input id='contact_name' class="pure-input-1" type="text" name='contact[name]' placeholder="Digite o seu nome">
                <p class="error" style="display: none;">Por favor, informe o seu nome</p>
              </div>
              <div class="pure-u-1">
                <input id='contact_email' class="pure-input-1" type="email" name='contact[email]' placeholder="Digite o seu E-mail">
                <p class="error" style="display: none;">Por favor, informe o seu e-mail</p>
              </div>
              <div class="pure-u-1">
                <input id='contact_phone' class="pure-input-1" type="tel" name='contact[phone]' placeholder="Digite o seu telefone">
                <p class="error" style="display: none;">Por favor, informe o seu telefone</p>
              </div>
              <div class="pure-u-1">
                <input id='contact_text' class="pure-input-1" type="text" name='contact[text]' placeholder="Deixe sua mensagem">
              </div>

              <!-- This div is here for spacing purposes only -->
              <div class="pure-u-1 pure-u-md-3-5"></div>

              <div class="pure-u-1 pure-u-md-2-5">
                <button id='submit-button' type="submit" class="pure-button">Enviar</button>
              </div>

              <div id='response-is-success' class="pure-u-1" style="display: none;">
                Recebemos a sua solicitação, e logo entraremos em contato!
              </div>
              <div id='response-is-error' class="pure-u-1" style="display: none;">
                Não foi possível enviar a sua solicitação. Por favor, tente novamente mais tarde. =[
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  let validationFn = function() {
    $('p.error').hide();
    $('#response-is-success').hide();
    $('#response-is-error').hide();

    let fields = ['#contact_name', '#contact_email', '#contact_phone'];
    let errors = [];

    for(let i = 0; i < fields.length; i++) {
      let field_id = fields[i];
      let field    = $(field_id);
      if(field.val() == null || !field.val().length) {
        errors.push(field_id);
        field.siblings('p.error').toggle();
      }
    }

    if(errors.length) {
      $(errors[0]).focus();
      return false;
    }

    return true;
  };

  $('#contact-form').on('submit', function(evt) {
    evt.preventDefault();
    if(validationFn()) {
      $('#submit-button').prop('disabled', 'disabled');

      $.ajax({
        url: "http://34.238.234.86/novo_contato_cendi",
        type: 'GET',
        dataType: 'json',
        data: {
          token: 'f4b8cbd5e8a1179e27696fac1c27adc0cc2dc6dc5eb6ef16b511',
          contact: {
            name: $('#contact_name').val(),
            email: $('#contact_email').val(),
            phone: $('#contact_phone').val(),
            text: $('#contact_text').val()
          }
        },
        success: function(data) {
          $('#response-is-success').show();
        },
        error: function(data) {
          $('#response-is-error').show();
        },
        complete: function() {
          $('#submit-button').prop('disabled', false);
        }
      });
    }
    return false;
  })
</script>
