section.agency-banner {
  background-color: $contrast-color !important;
  color: $darker-gray;
  text-align: center;
  font-size: 28px;
  padding: 18px 0;
  text-transform: uppercase;
}

.agency-content {
  color: $dark-gray;

  @media #{$medium-and-up} {
    .container {
      max-width: 80%;
      padding: 60px 0;
    }
  }

  .title {
    margin-bottom: 16px;
    color: $darker-gray;
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .agency-core {
    margin-top: 16px;

    @media #{$medium-and-up} { margin-top: 46px; }

    .image-wrapper {
      text-align: center;
      padding-bottom: 9px;

      img {
        height: 60px;
        width: 60px;

        @media #{$medium-and-up} {
          height: 80px;
          width: 80px;

        }
      }
    }

    .description {
      text-align: justify;
      padding: 0 18px 18px;

      line-height: 1.4rem;
      font-size: 15px;

      ul {
        list-style: none;
        margin: 0;
      }
    }
  }
}
