@import '../utils/variables';

#contact-us {
  .padded { padding: 32px; }
  .bottom-padded { padding-bottom: 24px }
  .left-padded {
    @media #{$medium-and-up} { padding-left: 12%; }
  }

  .headline {
    color: $darker-gray;
    font-size: 24px;
  }

  p {
    font-size: 14px;
    margin: 2px 0;

    + p.with-phone {
      margin-top: 0;
      font-size: 24px;
      color: $contrast-color;
    }

    + p.with-email {
      margin-top: 0;
      color: $darker-gray;
    }

    &.error {
      margin-top: -22px;
      margin-bottom: 16px;
      color: #e31f1f;
      padding-left: 8px;
    }
  }
  form {
    input {
      background-color: transparent;
      border-radius: 10px;
      line-height: 1.2em;
      margin-bottom: 16px;

      &::placeholder {
        font-style: italic !important;
        font-size: 14px;
      }

      &:last-of-type {
        margin-bottom: 12px;

        @media #{$medium-and-up} { margin-bottom: 24px; }
      }
    }

    button {
      background-color: $contrast-color;
      color: $dark-gray;
      border-radius: 10px;
      width: 100%;
      padding: 16px;
      text-align: center;
      text-transform: uppercase;

      &:hover { color: $darker-gray; }
    }

    #response-is-success {
      background-color: #94ff94;
      color: #0a570a;
      margin-top: 20px;
      padding: 20px 10px;
      border-radius: 10px;
      border: 1px solid #0a570a;
      text-align: center;
    }

    #response-is-error {
      background-color: #efb9b9;
      color: #931212;
      margin-top: 20px;
      padding: 20px 10px;
      border-radius: 10px;
      border: 1px solid #931212;
      text-align: center;
    }
  }
}
