.case-wrapper {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer !important;

  @media #{$medium-and-up} { margin-bottom: 0; }

  .case-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $contrast-color;
    opacity: 0;
    transition: all .4s;
  }

  .case-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $contrast-color;
    transition: all .4s;

    @media #{$medium-and-up} { opacity: 0; }

    span {
      display : block;
      text-decoration: none;
      color: $darker-gray;
      text-transform: uppercase;
      padding: 32px 16px;
    }

    &:before {
      display: inline-block;
      content: '';
      position: absolute;
      right: 4%;
      bottom: 50%;
      transform: translateY(50%);
      background-color: lighten($contrast-color, 15%);
      height: 50px;
      width: 50px;
      cursor: pointer;
    }

    &:after {
      display: inline-block;
      content: '+';
      position: absolute;
      right: 4%;
      bottom: 50%;
      transform: translateX(-50%) translateY(50%);
      background-color: #fff;
      border-radius: 100%;
      height: 25px;
      width: 25px;
      text-align: center;
      line-height: 1.5em;
      color: $contrast-color;
      cursor: pointer;
    }
  }

  &:hover {
    .case-overlay { opacity: .6; }
    .case-info    { opacity: 1;  }
  }
}

.carousel {
  position: relative;

  .carousel-item {
    position: relative;

    img {
      display: inline-block;
      width: auto;
      height: 100%;
      z-index: 99;

      @media #{$medium-and-up} {
        height: auto;
        width: 100%;
      }
    }

    .banner-info {
      position: absolute;
      display: inline-flex;
      flex-direction: column;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 40%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 100;
      color: #fff;

      @media #{$medium-and-up} {
        left: 10%;
        transform: translateY(-50%);
        max-width: 30%;
        height: 60%;

      }
      @media #{$extra-large-and-up} { height: 50%; }

      .banner-title {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: bold;
        padding-bottom: 18px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);

        @media #{$large-and-up} { font-size: 1.8rem; }
        @media #{$extra-large-and-up} { font-size: 2rem; }
      }

      .banner-text {
        flex-grow: 1;
        font-size: 14px;

        @media #{$large-and-up} { font-size: 16px; }
        @media #{$extra-large-and-up} { font-size: 18px; }
      }

      .banner-action {
        text-transform: uppercase;

        a {
          color: $dark-gray;
          background-color: $contrast-color;

          @media #{$extra-large-and-up} {
            font-size: 1.4rem;
          }

          &:hover { color: $darker-gray; }
        }
      }
    }
  }

  ul.slick-dots {
    bottom: 20px;

    li {
      margin: 0;

      button:before {
        font-size: 42px;
        color: $contrast-color;
      }
    }
  }
}

.customer-images-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  @media #{$small-and-up} { justify-content: flex-start; }

  .customer-image {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 12px 0;

    @media #{$small-and-up} {
      flex-basis: 50%;
      padding: 24px 0;
    }
    @media #{$medium-and-up} { flex-basis: 33%; }
    @media #{$large-and-up} { flex-basis: 25%; }

    img {
      height: 100%;
      max-height: 140px;
      width: auto;
      max-width: 100%;

      &.small { max-height: 70px; }

      &.grayed-out {
        transition: filter .4s;
        filter: grayscale(100%);

        &:hover { filter: grayscale(0%);  }
      }
    }
  }
}
