.service-info {
  padding-bottom: 60px;

  .title {
    position: relative;
    color: $darker-gray;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 32px 0 48px;
    margin-bottom: 84px;

    @media #{$small-and-down} {
      font-size: 32px;
      margin-bottom: 0;
    }

    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 6px;
      width: 180px;
      max-width: 50%;
      transform: translateX(-50%);
      background-color: $contrast-color;
    }
  }

  img {
    display: block;
    padding-bottom: 24px;

    @media #{$medium-and-up} {
      padding-bottom: 0;

      &.gestao-midias-sociais,
      &.marketing-digital,
      &.sites-responsivos,
      &.identidade-visual {
        margin-top: -72px;
      }
    }
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .elastic {
      flex-grow: 1;

      p {
        margin: 0;
        line-height: 1.5em;
        font-size: 16px;
        text-indent: 30px;

        &:first-of-type { margin-top: -18px; }

        @media #{$medium-and-up} {
          &:last-of-type { margin-bottom: 18px; }
        }

        & + p { margin-top: 24px; }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li { line-height: 1.5em; }
      }
    }

    .action {
      padding-top: 46px;

      a {
        background-color: $contrast-color;
        padding: 16px 42px;
        border-radius: 12px;
        font-size: 18px;
        text-transform: uppercase;
        color: $dark-gray;

        &:hover { background-color: lighten($contrast-color, 15%); }

        @media #{$small-and-down} { width: 100%; }
      }
    }
  }
}
