.mini-panel {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: $light-gray;
  color: $dark-gray;
  margin: 16px;
  padding: 24px 20px;

  @media #{$medium-and-up} { min-height: 240px; }

  & > * { text-align: center; }

  .icon {
    text-align: center;
    padding-bottom: 18px;

    img {
      height: 60px;
      width: auto;
    }
  }

  .title {
    color: $darker-gray;
    text-transform: uppercase;
    padding-bottom: 12px;
    font-size: 16px;
  }

  .description {
    font-size: 14px;
    flex-grow: 1;
  }

  .service-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 12px;

    a {
      display: inline-block;
      background-color: $contrast-color;
      text-decoration: none;
      transition: all .4s;

      &:hover {
        background-color: lighten($contrast-color, 20%);

        & span + span { background-color: lighten($contrast-color, 25%);  }
      }

      span {
        display: inline-block;
        color: $darker-gray;
        padding: 6px;

        & + span {
          position: relative;
          background-color: lighten($contrast-color, 15%);
          width: 18px;
          height: 18px;
          transition: all .4s;

          &:before,
          &:after {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 80%;
            width: 80%;
          }

          &:before {
            content: '';
            border-radius: 100%;
            background-color: #fff;
          }

          &:after {
            content: '+';
            color: $contrast-color;
            line-height: 24px;
          }
        }
      }
    }
  }
}
