.centered { text-align: center; }
.align-right { text-align: right; }

.padding-lg {
  padding: 18px;

  @media #{$small-and-down} { padding: 12px 0; }
}

img {
  &.responsive {
    width: 100%;
    height: auto;
  }
}
