a.site-link {
  color: $dark-gray;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  transition: all .4s;

  &.active:after {
    background-color: $contrast-color;
    bottom: 0;
    content: '';
    display: inline-block;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &:hover {
    text-decoration: none;
    background-color: darken($light-gray, 15%);
  }

  &.inverted {
    color: $light-gray;

    &:hover {
      text-decoration: none;
      background-color: lighten($dark-gray, 15%);
    }
  }
}
