@import '../utils/variables';

#social-media-links {
  a.social-media {
    display: inline-block;

    img {
      height: 40px;
      width: auto;
      display: inline-block;
      text-decoration: none;
      padding: 6px;
      transition: all .4s;

      &:hover {
        text-decoration: none;
        background-color: darken($light-gray, 15%);
      }
    }

    &.inverted img {
      &:hover {
        background-color: lighten($dark-gray, 10%);
      }
    }
  }
}
