.topic {
  margin-bottom: 24px;
  position: relative;
  text-transform: uppercase;

  & > * {
    @media #{$medium-and-up} {
      max-width: 40%;
      margin: 0 auto;
    }
  }

  .main {
    font-size: 32px;
    color: $darker-gray;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .subtitle {
    font-size: 14px;
    padding-bottom: 32px;
  }

  &.dotted-bottom,
  &.solid-bottom {
    .topic-decoration {
      position: absolute;
      display: inline;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $contrast-color;
    }
  }

  &.solid-bottom .topic-decoration {
    height: 4px;
    width: 40%;

    @media #{$medium-and-up} { width: 10%; }
  }

  &.dotted-bottom .topic-decoration {
    height: 6px;
    width: 6px;
    border-radius: 100%;

    &:before, &:after {
      display: inline;
      content: '';
      position: absolute;
      top: 0;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background-color: $contrast-color;
    }

    &:before { right: 9px; }
    &:after  { left: 9px;  }
  }
}
