// Colors
$light-gray: #f3f3f3;
$dark-gray: #5c5c5c;
$darker-gray: #333;
$contrast-color: #f0b201;
$contrast-button-color: #5c5c5c;



// Media queries
$small-screen: 35.5em !default;
$medium-screen: 48em !default;
$large-screen: 64em !default;
$extra-large-screen: 80em !default;

$small-and-down: "only screen and (max-width: #{$small-screen})" !default;
$small-and-up: "only screen and (min-width: #{$small-screen})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen})" !default;
$extra-large-and-up: "only screen and (min-width : #{$extra-large-screen})" !default;



// Elements
$header-size-md-up: 96px;



// Layout
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

$z-indexes: (
  'case-slide-arrow'
  'modal-box'
  'modal-overlay'
  'header'
);
