.modal {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    transition: opacity .4s;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
  }

  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    max-height: 70%;
    width: 600px;
    max-width: 80%;
    display: none;
    opacity: 0;
    z-index: z('modal-box');
    border: 1px solid $light-gray;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    transition: all .4s;

    &.active {
      opacity: 1;
      display: block;

      &+ .modal-overlay {
        bottom: 0;
        right: 0;
        opacity: .8;
        z-index: z('modal-overlay');
        display: block;
      }
    }

    .modal-body {
      position: relative;
      height: 100%;
      max-height: 100%;

      .image-wrapper {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);

        img {
          height: 0;
          max-height: 100%;
          width: 100%;

          &.active { height: auto; }
        }
      }
    }

    .left-arrow, .right-arrow {
      position: absolute;
      display: block;
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
      background-color: #000;
      z-index: z('case-slide-arrow');
      opacity: .8;
      cursor: pointer;
      &:hover { opacity: 1; }

      &:before, &:after {
        content: '';
        display: block;
        background-color: #f3f3f3;
        height: 4px;
        width: 18.5px;
        position: absolute;
      }

      &:before { top: 0;    }
      &:after  { bottom: 0; }
    }

    .left-arrow {
      left: -20px;

      &:before {
        left: 30%;
        transform: rotate(-45deg) translateX(-50%);
        transform-origin: top right;
      }
      &:after  {
        left: 30%;
        transform: rotate(45deg) translateX(-50%);
        transform-origin: bottom right;
      }
    }

    .right-arrow {
      right: -20px;

      &:before {
        right: 30%;
        transform: rotate(45deg) translateX(50%);
        transform-origin: top left;
      }
      &:after  {
        right: 30%;
        transform: rotate(-45deg) translateX(50%);
        transform-origin: bottom left;
      }
    }
  }
}
