<section class="agency-banner">
  A Agência
</section>
<section class="agency-content">
  <div class="container">
    <div class="title">Quem somos</div>
    <p>Somos uma agência formada por pessoas apaixonadas pelo que fazem, oferecendo soluções especializadas em marketing, comunicação e mídia digital.</p>
    <p>Nascemos na era digital, crescemos e nos mantemos digitais, afinal se tem uma coisa que a Cendi sabe é que hoje tudo muda muito rápido, principalmente o comportamento dos consumidores e o seu consumo por mídia</p>
    <p>Por isso, amamos desafios!!! O nosso foco é planejar, criar, implementar e promover sua empresa de forma sólica e customizada, estreitando o relacionamento com os clientes e trazendo resultados extraordinários.</p>

    <div class="pure-g agency-core">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="image-wrapper">
          <img src="<%= image_path('/images/agencia/missao.png') %>" class="responsive">
        </div>
        <div class="title centered">Missão</div>
        <div class="description">Proporcionar serviços de marketing, comunicação e mídia digital, contribuir no desenvolvimento de empresas de maneira contínua e promover relações saudáveis e duradouras com resultados extraordinários.</div>
      </div>
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="image-wrapper">
          <img src="<%= image_path('/images/agencia/visao.png') %>" class="responsive">
        </div>
        <div class="title centered">Visão</div>
        <div class="description">Ser referência em Marketing Digital na Região dos Lagos RJ, contribuir para que pequenas e médias empresas alcancem resultados extraordinários através do mundo digital.</div>
      </div>
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="image-wrapper">
          <img src="<%= image_path('/images/agencia/valores.png') %>" class="responsive">
        </div>
        <div class="title centered">Valores</div>
        <div class="description">
          <ul>
            <li>- Amor</li>
            <li>- Visão sistêmica</li>
            <li>- Evolução contínua</li>
            <li>- Inovação</li>
            <li>- Resultados Extraordinários</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-agency').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
