<div class="container">
  <div class="service-info">
    <div class="title">Criação de Campanhas</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5">
        <img src="<%= image_path('/images/servicos/campanhas.png') %>" class="responsive">
      </div>
      <div class="pure-u-1 pure-u-md-3-5">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>É possível ser criativo e gerar um ótimo posicionamento da sua marca. Para isso, a Cendi Marketing Digital oferece um serviço especialmente desenhado para atender sua empresa, fortalecer sua presença online e aumentar sua conversão:</p>
            <p>Para a criação de campanha, nossa equipe irá entender quais os resultados sua empesa deseja alcançar para montarmos um plano de desenvolvimento específico para atingir as pesonas e definir os canais de divulgação da campanha e sempre mensurando todas as ações. Vem com a gente criar sua campanha e melhore e atinja o resultado!</p>
            <div class="action">
              <a href="/index.html#services" class="pure-button">Mais serviços</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
