<div class="container">
  <div class="service-info">
    <div class="title">Gestão de mídias sociais</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5">
        <img src="<%= image_path('/images/servicos/gestao-midias-sociais.png') %>" class="responsive gestao-midias-sociais">
      </div>
      <div class="pure-u-1 pure-u-md-3-5">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>O melhor ambiente para sua empersa gerar novos clientes, manter relacionamento, marcar presença, consolidar sua marca e gerar resultado são as redes sociais, e para gerar o melhor retorno sobre o investimento a Cendi Marketing Digital cria uma rede personalizada.</p>
            <ul>
              <li>Veja as redes que administramos:</li>
              <li>- Facebook</li>
              <li>- Instagram</li>
              <li>- Youtube</li>
            </ul>
          </div>
          <div class="action">
            <a href="/index.html#services" class="pure-button">Mais serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
