<div class="container">
  <div class="service-info">
    <div class="title">Identidade visual</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5">
        <img src="<%= image_path('/images/servicos/identidade-visual.png') %>" class="responsive identidade-visual">
      </div>
      <div class="pure-u-1 pure-u-md-3-5">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>A identidade visual é a primeira imagem vista pelo seu cliente. E o que você tem mostrado pra ele? Nós da Cendi Marketing Digital desenvolvemos a identidade do seu negócio expressando o que sua empresa tem de melhor, potencializando o seu diferencial e agregando valor para o seu negócio.</p>
            <ul>
              <li>Vem com a gente criar a identidade visual da sua empresa! Nossas soluções:</li>
              <li>- Criação de marca</li>
              <li>- Redesign da marca</li>
              <li>- Papelaria</li>
              <li>- Sinalização</li>
              <li>- Plotagem de veículo</li>
              <li>- Brindes</li>
              <li>- Banner / Flyer / Folhetos</li>
            </ul>
          </div>
          <div class="action">
            <a href="/index.html#services" class="pure-button">Mais serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
