<%= partial 'partials/index/banners' %>
<%= partial 'partials/index/services' %>
<%= partial 'partials/index/cases' %>
<%= partial 'partials/index/customers' %>
<%= partial 'partials/shared/contact' %>

<%= javascript_include_tag "index" %>
