<div class="container">
  <div class="service-info">
    <div class="title">Marketing digital</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5">
        <img src="<%= image_path('/images/servicos/marketing-digital.png') %>" class="responsive marketing-digital">
      </div>
      <div class="pure-u-1 pure-u-md-3-5">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>Diferente do Marketing tradicional, o Marketing Digital permite mensurar o tráfego do seu site, anúncio, campanha, quem são essas pessoas, a região, o gênero, idade e muito mais, sendo possível identificar qual o seu público alvo e montar a estratégia certa para o seu negócio! Vem com a gente!</p>
            <p>Para implementarmos o marketing digital, primeiro vamos ouvir, fazer o briefing e entender a situação atual do seu negócio e a nossa equipe especializada irá planejar a estratégia certa e consolidar a sua marca no mercado. Vamos criar soluções customizadas para sua empresa, colocar em prática e promover as estratégias com foco nas suas personas, gerando relacionamento e resultados extraordinários mensurados.</p>
            <ul>
              <li>Vamos mensurar e avaliar os resultados atingidos através de ferramentas digitais:</li>
              <li>- SEO</li>
              <li>- Adwords</li>
              <li>- Facebok ADS</li>
              <li>- Analytics</li>
              <li>- E-mail Marketing</li>
            </ul>
          </div>
          <div class="action">
            <a href="/index.html#services" class="pure-button">Mais serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
