<div class="container">
  <div class="service-info">
    <div class="title">Otimização SEO</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5 pure-u-lg-1-3">
        <img src="<%= image_path('/images/servicos/otimizacao-seo.png') %>" class="responsive otimizacao-seo">
      </div>
      <div class="pure-u-1 pure-u-md-3-5 pure-u-lg-2-3">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>O SEO é a otimização de site e seu objetivo é melhorar o posicionamento de sites nos mecanismos de busca do Ggoogle. Essa implementação é importante para melhorar a qualidade do site e oferecer uma melhor experiência aos usuários.</p>
            <p>Nós da Cendi Marketing Digital analisamos a necessidade da sua empresa e seus objetivos para elaborar uma estratégia inovadora que possa ranquear melhor o seu site nas páginas de busca. Elaboramos diversas etapas e procedimentos para que o seu site seja melhor posicionado, encontrado por mais pessoas e tenha mais acessos, alcançando resultados extraordinários.</p>
          </div>
          <div class="action">
            <a href="/index.html#services" class="pure-button">Mais serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
