<div class="container">
  <div class="service-info">
    <div class="title">Projeto editorial</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5 pure-u-lg-1-3">
        <img src="<%= image_path('/images/servicos/projeto-editorial.png') %>" class="responsive projeto-editorial">
      </div>
      <div class="pure-u-1 pure-u-md-3-5 pure-u-lg-2-3">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>Planejamento e estratégia são os pilares de todo projeto de Design desenvolvido pela Cendi. Pensamos no agora para acertar no amanhã. Construímos de forma customizada e produzimos projetos especiais atraindo o público alvo de maneira eficaz para o seu negócio.</p>
            <p>Usamos como fundamento a tipografia, grid, formato, cores, disposição de elementos gráficos e imagem, dentre outras estratégias e conceitos para atrair e gerar relacionamento com o seu cliente.</p>
            <ul>
              <li>Vem com a gente contruir o seu projeto editorial:</li>
              <li>- Revistas</li>
              <li>- Livros</li>
              <li>- Folhetos</li>
              <li>- Tablóides</li>
              <li>- Jornais</li>
              <li>- Informativo</li>
              <li>- E-books</li>
              <li>- Guias de turismo, guias gastronômicos, guias de hotelaria</li>
            </ul>
          </div>
          <div class="action">
            <a href="/index.html#services" class="pure-button">Mais serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
