<div class="container">
  <div class="service-info">
    <div class="title">Sites responsivos</div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5 pure-u-lg-1-3">
        <img src="<%= image_path('/images/servicos/sites-responsivos.png') %>" class="responsive sites-responsivos">
      </div>
      <div class="pure-u-1 pure-u-md-3-5 pure-u-lg-2-3">
        <div class="flex-wrapper">
          <div class="elastic padding-lg">
            <p>Ei, você está vendo esse site pelo computador, tablet ou celular? Qualquer uma das opções é possível! A Cendi Marketing Digital oferece a criação de um site acessível aos diferentes dispositivos!</p>
            <p>Sites responsivos são projetados para serem adaptados a qualquer tipo de resolução, sem distorções. Um design responsivo identifica qual é a largura de cada dispositivo, e assim consegue determinar quanto espaço está disponível e como a página será mostrada para que esses espaços sejam aproveitados de forma plena. Vem fazer com a gente o seu site!</p>
          </div>
          <div class="action">
            <a href="/index.html#services" class="pure-button">Mais serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/shared/contact' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link-to-services').addClass('active');
    new SmoothScroll('a[href*="#"]', {
      offset: '96px'
    });
  })
</script>
