<section id="first-pane">
  <div class="carousel">
    <%- data.banners.each do |banner| %>
      <div class="carousel-item">
        <img src="<%= image_path(banner.image) %>">
        <div class="banner-info">
          <div class="banner-title"><%= banner.title %></div>
          <div class="banner-text"><%= banner.text %></div>
          <div class="banner-action">
            <a class='pure-button' href='<%= banner.link_path %>'><%= banner.link_label %></a>
          </div>
        </div>
      </div>
    <%- end %>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').slick({
      arrows: false,
      dots: true,
      draggable: true,
      lazyLoad: 'ondemand',
      pauseOnHover: true,
      pauseOnDotsHover: true,
      swipe: true,
      touchMove: true,
      autoplay: true,
      autoplaySpeed: 5000
    });
  });
</script>
