<section id="cases">
  <div class="container">
    <div class="topic dotted-bottom centered">
      <div class="main">Cases</div>
      <div class="subtitle">Inteligência em projetos digitais para o seu negócio</div>
      <span class="topic-decoration"></span>
    </div>
    <div class="pure-g">
      <%- data.cases.each do |case_item| %>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
          <div class="case-wrapper" modal-trigger data-trigger-for='<%= case_item.id %>'>
            <img class='responsive' src="<%= image_path(case_item.image) %>">
            <div class="case-overlay"></div>
            <div class="case-info">
              <span data-modal-for='<%= case_item.id %>'>
                <%= case_item.label %>
              </a>
            </div>
          </div>
        </div>
        <%= partial 'partials/index/case_modal', locals: { images: case_item.slide_images, id: case_item.id } %>
      <%- end %>
    </div>
  </div>
</section>
