<div class="modal" id='<%= id %>'>
  <div class="modal-box">
    <div class="modal-body">
      <%- images.each_with_index do |image, idx| %>
        <div class="image-wrapper">
          <img src="<%= image %>" class='<%= "active" if idx.zero? %>'>
        </div>
      <%- end %>
      <span class="left-arrow"></span>
      <span class="right-arrow"></span>
    </div>
  </div>
  <div class="modal-overlay"></div>
</div>
