<section id="customers">
  <div class="container">
    <div class="topic centered">
      <div class="main">Clientes</div>
      <div class="subtitle">Empresas que confiam na Cendi Marketing Digital</div>
      <span class="topic-decoration"></span>
    </div>
    <div class="customer-images-wrapper">
      <%- data.customers.each do |customer| %>
        <div class="customer-image">
          <div class="padding-lg centered">
            <img src="<%= image_path(customer.image) %>" class='grayed-out <%= 'small' if customer.small %>'/>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</section>
