<section id="services">
  <div class="container">
    <div class="topic solid-bottom centered">
      <div class="main">O que fazemos?</div>
      <div class="subtitle">Veja aqui o que podemos fazer pela sua empresa</div>
      <span class="topic-decoration"></span>
    </div>
    <div class="pure-g">
      <%- data.services.each do |service| %>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
          <div class="mini-panel">
            <div class="icon">
              <img src="<%= image_path(service.image) %>">
            </div>
            <div class="title"><%= service.title %></div>
            <div class="description"><%= service.description %></div>
            <div class="service-link">
              <a href="<%= service.path %>">
                <span>Saiba mais</span>
                <span>&nbsp;</span>
              </a>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</section>
